<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head.ejs') -%>
</head>
<body>

	<div class="container yp-sm-1 align-middle">
    <form method="POST" action="/replacePass">
      <h3 class="display-4">Cambiar contraseña</h3>
      <div class="jumbotron"> 
      <table>
        <tr>
          <td class="col-1"> 
      <label>Contraseña </label>
      </td>
      
      <td><input type="password" name="Contrasena" id="Contrasena" autocomplete="ofdasdf"></td>
            </tr>
      <br>
<tr>
  <td class="col-1">
      <label>Confirmar contraseña</label>
      </td>
      <td>
      <input type="password" onkeyup="comprobarContraseñas()" id="confirmarContrasena" name="confirmarContrasena">
      </td>
</tr>
      </div>
      </table>

       <br>

        <div class="alert bg-danger" style="display: none;">
          <span>Las contraseñas no coinciden</span>
        </div>

       <div class="text-center fixed-bottom m-4">
        <button type="submit" id="botonSubmit" class="align-middle btn btn-primary" disabled>
            <i class="fa fa-key"></i> Confirmar
        </button>
      </div>
      <input type="text" name="matricula" value="<%=matricula%>">
      <input type="text" name="token" value="<%=token%>">
    </form>
  </div>
</body>
</html>

<script type="text/javascript"> 
 function comprobarContraseñas() {

  
  var contrasena = document.getElementById('Contrasena').value;
  var confirmacion = document.getElementById('confirmarContrasena').value;

  if((contrasena == confirmacion) && (contrasena.length > 4)) {
      document.getElementById('botonSubmit').disabled = false;
  }
  else {
    document.getElementById('alerta').style.display = "block";
    setTimeout(function() {
        document.getElementById('alerta').style.display = "none";
    }, 5000)
  }
}
</script>