<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/head') -%>
  <style type="text/css">
    body {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
.login-form
{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

  </style>
</head>
<body class="bg-white">
    

   

    <div class="container py-4  jumbotron" style="background-color: transparent;">

        <div class="row  align-middle justify-content-center">

            <div class="col-md-8">
                <div class="card px-3">
                    <div class="text-center">
                    <h1 class="display-4" style="color: gray">NAHUATL</h1>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/svg/207/207127.svg" width="20%" alt="Icon made by smashicons from www.flaticon.com">
                    
                    </div>
                    <hr style="border-color: lightgray;">
                    <h4 class="card-title my-3 text-center">Recuperar contraseña</h4>
                    <div class="card-body">
                        <form action="/rcPass" method="POST">
                            <label for="correo">Introduce el correo electronico asociado con tu cuenta</label>
                            <input type="email" name="correo" required>
                            <input type="text" name="matricula" value="<%=matricula%>" hidden>
                            <button class="btn btn-success p-1" type="submit"> Enviar</button>
                            <p>Si tu correo coincide con el que te registraste te enviaremos un enlace para que recuperes el acceso a tu cuenta.</p>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <br>

    



</body>
</html>