<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/head') -%>
  <style type="text/css">
    body {
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
    }
.login-form
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

  </style>
</head>
<body style="background-color: #343a40">
    

   

    <div class="container  jumbotron" style="background-color: #343a40">

        <div class="row justify-content-center">

            <div class="col-md-8">
  
                <div class="card px-3">
                    <div class="text-center">
                    <h1 class="display-4" style="color: gray">DICCIONARIO NAHUATL</h1>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/svg/207/207127.svg" width="20%" alt="Icon made by smashicons from www.flaticon.com"> 
                    </div>
                    <hr style="border-color: lightgray;">
                    
                    <div class="card-body">
                        <h1>ACTUALIZACION IMPORTANTE</h1>
                        <p><span>28/03/2020 by <span class="text-muted">Victor Cano</span></span></p>
                        <p>Registrate mediante Facebook para no perder acceso a tu contraseña y disfrutar algunos beneficios <a href="https://m.me/DiccNahuatl">Diccionario Nahuatl en Messenger <i class="fab fa-facebook-messenger"></i></a></p>

                        
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    </div>



</body>
</html>
